.input-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 6px; */
}

.input-container {
  position: relative;
  width: 100%;
}

.label-text {
  position: absolute;
  bottom: 37px;
  left: 10px;
  /* font-size: 14px; */
  color: #667085;
  background-color: white;
  /* background-image: linear-gradient(white, #fcfcfd); */
  padding: 0 5px;
}

.hidden {
  display: none;
}

input:focus::placeholder {
  opacity: 0;
}

.in-box {
  padding: 10px 14px;
  /* line-height: 20px;
  font-size: 14px; */
  border-radius: 8px;
  border: 1px solid #ced5dc;
  display: block;
  width: 100%;
  /* min-width: 432px; */
  height: 44px;
  gap: 8px;
}

.in-box:focus {
  border-color: #d6bbfb;
  box-shadow: 0px 0px 0px 4px #f4ebff;
  outline: none;
}

.spec {
  /* line-height: 20px; */
  padding-top: 6px;
}