/* .complete-wrapper{

} */

.page-wrapper {
    height: 1080px;
    /* width: 1920px; */
    width: 100%;
    display: grid;
    justify-content: center;
}

.navbar-dummy {
    height: 72px;
    width: 100%;
    background-color: black;
    color: white;
}

.components-container {
    height: fit-content;
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    left: 456px;
    gap: 48px;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 480px;
}

.boxA-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.boxB-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* overflow-y: scroll; */
}